/* ======================= SECONDARY BUTTON ======================= */
.btn-secondary {
  padding: 12px 20px;
  background: #fafafc;
  color: #610202;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  width: auto;
}

.btn-secondary:hover {
  background: #fcfcfc; /* slightly darker on hover */
}